In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel(r"C:\Users\Helder\OneDrive\Projects\datasets\US_Electric_Grid _Outages\Electric_Disturbancea_Events\DOE_Electric_Disturbance_Events.xlsx")

In [4]:
df.head()

,Table B.2.,"Major Disturbances and Unusual Occurrences, 2002",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,NERC Region,Time,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time
2,January,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-01-30 00:00:00,SPP,06:00:00,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.tail()

,Table B.2.,"Major Disturbances and Unusual Occurrences, 2002",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
36,2002-12-25 00:00:00,MAAC,17:00:00,Eastern Pennsylvania,Winter Storm,250,106000,2002-12-26 05:00:00
37,2002-12-25 00:00:00,MAAC,10:00:00,"Reading, York, Hanover, Hamburg Pennsylvania",Winter Storm,NaN,95630,2002-12-27 08:30:00
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Note: North American Electric Reliability Coun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"Source: Form EIA-417, ""Electric Emergency Inc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(41, 8)

In [8]:
df.dtypes

Table B.2.                                          object
Major Disturbances and Unusual Occurrences, 2002    object
Unnamed: 2                                          object
Unnamed: 3                                          object
Unnamed: 4                                          object
Unnamed: 5                                          object
Unnamed: 6                                          object
Unnamed: 7                                          object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 8 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Table B.2.                                        35 non-null     object
 1   Major Disturbances and Unusual Occurrences, 2002  24 non-null     object
 2   Unnamed: 2                                        24 non-null     object
 3   Unnamed: 3                                        26 non-null     object
 4   Unnamed: 4                                        25 non-null     object
 5   Unnamed: 5                                        20 non-null     object
 6   Unnamed: 6                                        24 non-null     object
 7   Unnamed: 7                                        23 non-null     object
dtypes: object(8)
memory usage: 2.7+ KB